.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg{
  border:2px solid #ccc;
  -ms-user-select: none;
  user-select: none;
}
svg:hover{
  cursor:default;
}
rect{
  fill:#ddd;
}
.openList{
  fill:#bdb;
}
.closedList{
  fill:#bdb;
}

.path{
  fill:#99c;
}
.current{
  fill:#fff;
}
.wall{
  fill:#777;
  stroke:#666;
  stroke-width:2;
}
.startPosition{
  fill:#d00;
  stroke:#a11;
  stroke-width:2;
  cursor:grab;
}
.startPosition.active{
  fill:#a11;
}
.goalPosition{
  fill:#0c0;
  stroke:#191;
  stroke-width:2;
  cursor:grab;
}
.goalPosition.active{
  fill:#191;
}